body {
  margin: 0;
  padding: 0;
}

.top-pane {
  background-color: hsl(225, 6%, 25%);
}

.pane {
  height: 50vh;
  display: flex;
}

.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  background-color: hsl(225, 6%, 25%);
}

.editor-container.collapsed {
  flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.expand-collapse-btn {
  margin-left: .5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  color: white;
  padding: .5rem .5rem .5rem 1rem;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}

.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow: hidden;
}


.logodiv{
  display: flex;
}
img{
  margin-left: 30px;
  width: 77px;
  height: auto;
  object-fit: cover;
}

.logo-text{
  margin-left: 10px;
  margin-top: 8px;
}

.logo-text-name{
  margin-left: -173px;
  margin-top: 37px;
  color: red;
}

ul{
  display: flex;
  justify-content: right;
}
i{
  cursor: pointer;
}

.html-icon{
  font-size: 30px;
  color: red;

}
.css-icon{
  font-size: 30px;
  color: cyan;
}
.js-icon{
  font-size: 30px;
  color: yellow;
}


.social-container {
  background: rgb(255, 253, 253);
  padding: 25px 50px;
  margin-left: 680px;
}
a.social {
  margin: 0 1rem;
  transition: transform 350ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-5px);
}

a.linkdin {
  color: #1b97eb;
}

a.insta {
  color: #ca3b9f;
}

a.twitter {
  color: #49a1eb;
}

a.github {
  color: black;
}
